<div id="tab-design" class="tab-pane">
  <div class="table-responsive">
    <table id="product-layout" class="table table-bordered table-hover">
      <thead class="table-head">
      <tr>
        <th>{{ entry_store }}</th>
        <th>{{ entry_layout }}{% if master_id %}
            <div class="form-switch float-end">
              <input type="checkbox" name="override[product_layout]" value="1" id="input-variant-product-layout" data-oc-toggle="switch" data-oc-target="#product-layout" class="form-check-input"{% if override.product_layout %} checked{% endif %}/> <label for="input-variant-product-layout" class="form-check-label"></label>
            </div>
          {% endif %}</th>
      </tr>
      </thead>
      <tbody>
      {% for store in stores %}
        <tr>
          <td>{{ store.name }}</td>
          <td><select name="product_layout[{{ store.store_id }}]" class="form-select">
              <option value=""></option>
              {% for layout in layouts %}
                <option value="{{ layout.layout_id }}"{% if product_layout[store.store_id] and product_layout[store.store_id] == layout.layout_id %} selected{% endif %}>{{ layout.name }}</option>
              {% endfor %}
            </select></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
