<div id="tab-discount" class="tab-pane">
  <div class="d-lg-none p-1">Scroll <i class="fa-solid fa-arrow-right-long"></i></div>
  <div class="table-responsive">
    <table id="product-discount" class="table table-bordered table-hover">
      <thead class="table-head">
      <tr>
        <th class="text-nowrap">{{ entry_customer_group }}</th>
        <th class="text-end">{{ entry_quantity }}</th>
        <th class="text-end">{{ entry_priority }}</th>
        <th class="text-end" style="min-width: 6rem">{{ entry_price }}</th>
        <th class="text-end" style="min-width: 10rem">{{ entry_type }}</th>
        <th class="text-end">{{ entry_special }}</th>
        <th>{{ entry_date_start }}</th>
        <th>{{ entry_date_end }}</th>
        <th class="text-end">{% if master_id %}
            <div class="form-switch">
              <input type="checkbox" name="override[product_discount]" value="1" id="input-variant-product-discount" data-oc-toggle="switch" data-oc-target="#product-discount" class="form-check-input"{% if override.product_discount %} checked{% endif %}/> <label for="input-variant-product-discount" class="form-check-label"></label>
            </div>
          {% endif %}</th>
      </tr>
      </thead>
      <tbody>
      {% set discount_row = 0 %}
      {% for product_discount in product_discounts %}
        <tr id="discount-row-{{ discount_row }}">
          <td><select name="product_discount[{{ discount_row }}][customer_group_id]" class="form-select">
              {% for customer_group in customer_groups %}
                <option value="{{ customer_group.customer_group_id }}"{% if customer_group.customer_group_id == product_discount.customer_group_id %} selected{% endif %}>{{ customer_group.name }}</option>
              {% endfor %}
            </select></td>
          <td class="text-end"><input type="text" name="product_discount[{{ discount_row }}][quantity]" value="{{ product_discount.quantity }}" placeholder="{{ entry_quantity }}" class="form-control"/></td>
          <td class="text-end"><input type="text" name="product_discount[{{ discount_row }}][priority]" value="{{ product_discount.priority }}" placeholder="{{ entry_priority }}" class="form-control"/></td>
          <td class="text-end"><input type="text" name="product_discount[{{ discount_row }}][price]" value="{{ product_discount.price }}" placeholder="{{ entry_price }}" class="form-control"/></td>
          <td><select name="product_discount[{{ discount_row }}][type]" class="form-select">
              <option value="F"{% if product_discount.type == 'F' %} selected{% endif %}>{{ text_fixed }}</option>
              <option value="S"{% if product_discount.type == 'S' %} selected{% endif %}>{{ text_subtract }}</option>
              <option value="P"{% if product_discount.type == 'P' %} selected{% endif %}>{{ text_percentage }}</option>
            </select></td>
          <td>
            <div class="form-switch form-switch-lg">
              <input type="hidden" name="product_discount[{{ discount_row }}][special]" value="0"/> <input type="checkbox" name="product_discount[{{ discount_row }}][special]" value="1" class="form-check-input"{% if product_discount.special %} checked{% endif %}/>
            </div>
          </td>
          <td><input type="date" name="product_discount[{{ discount_row }}][date_start]" value="{{ product_discount.date_start }}" placeholder="{{ entry_date_start }}" class="form-control"/></td>
          <td><input type="date" name="product_discount[{{ discount_row }}][date_end]" value="{{ product_discount.date_end }}" placeholder="{{ entry_date_end }}" class="form-control"/></td>
          <td class="text-end">
            <button type="button" onclick="$('#discount-row-{{ discount_row }}').remove();" data-bs-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button>
          </td>
        </tr>
        {% set discount_row = discount_row + 1 %}
      {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td colspan="8"></td>
        <td class="text-end">
          <button type="button" id="button-discount" data-bs-toggle="tooltip" title="{{ button_discount_add }}" class="btn btn-primary"><i class="fa-solid fa-plus-circle"></i></button>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<script type="text/javascript">
  var discount_row = {{ discount_row }};

  $('#button-discount').on('click', function () {
    html = '<tr id="discount-row-' + discount_row + '">';
    html += '  <td><select name="product_discount[' + discount_row + '][customer_group_id]" class="form-select">';
    {% for customer_group in customer_groups %}
    html += '    <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name|escape('js') }}</option>';
    {% endfor %}
    html += '  </select><input type="hidden" name="product_discount[' + discount_row + '][product_discount_id]" value=""/></td>';
    html += '  <td class="text-end"><input type="text" name="product_discount[' + discount_row + '][quantity]" value="1" placeholder="{{ entry_quantity|escape('js') }}" class="form-control"/></td>';
    html += '  <td class="text-end"><input type="text" name="product_discount[' + discount_row + '][priority]" value="" placeholder="{{ entry_priority|escape('js') }}" class="form-control"/></td>';
    html += '  <td class="text-end"><input type="text" name="product_discount[' + discount_row + '][price]" value="" placeholder="{{ entry_price|escape('js') }}" class="form-control"/></td>';
    html += '  <td><select name="product_discount[' + discount_row + '][type]" class="form-select">';
    html += '    <option value="F">{{ text_fixed }}</option>';
    html += '    <option value="S">{{ text_subtract }}</option>';
    html += '    <option value="P">{{ text_percentage }}</option>';
    html += '  </select></td>';
    html += '  <td><div class="form-switch form-switch-lg">';
    html += '    <input type="hidden" name="product_discount[' + discount_row + '][special]" value="0"/>';
    html += '    <input type="checkbox" name="product_discount[' + discount_row + '][special]" value="1" class="form-check-input"/>';
    html += '  </div></td>';
    html += '  <td><input type="date" name="product_discount[' + discount_row + '][date_start]" value="" placeholder="{{ entry_date_start|escape('js') }}" class="form-control"/></td>';
    html += '  <td><input type="date" name="product_discount[' + discount_row + '][date_end]" value="" placeholder="{{ entry_date_end|escape('js') }}" class="form-control"/></td>';
    html += '  <td class="text-end"><button type="button" onclick="$(\'#discount-row-' + discount_row + '\').remove();" data-bs-toggle="tooltip" title="{{ button_remove|escape('js') }}" class="btn btn-danger"><i class="fa-solid fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#product-discount tbody').append(html);

    discount_row++;
  });
</script>
