{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="button" data-bs-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-zone').toggleClass('d-none');" class="btn btn-light d-lg-none"><i class="fa-solid fa-filter"></i></button>
        <a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
        <button type="submit" form="form-zone" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="filter-zone" class="col-lg-3 col-md-12 order-lg-last d-none d-lg-block mb-3">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-filter"></i> {{ text_filter }}</div>
          <div class="card-body">
            <form id="form-filter">
              <div class="mb-3">
                <label class="form-label">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" data-oc-target="autocomplete-zone" class="form-control" autocomplete="off"/>
                <ul id="autocomplete-zone" class="dropdown-menu"></ul>
              </div>
              <div class="mb-3">
                <label class="form-label">{{ entry_country }}</label>
                <input type="text" name="filter_country" value="{{ filter_country }}" placeholder="{{ entry_country }}" id="input-country" data-oc-target="autocomplete-country" class="form-control" autocomplete="off"/>
                <ul id="autocomplete-country" class="dropdown-menu"></ul>
              </div>
              <div class="mb-3">
                <label class="form-label">{{ entry_code }}</label>
                <input type="text" name="filter_code" value="{{ filter_code }}" placeholder="{{ entry_code }}" id="input-code" class="form-control"/>
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-filter me-2"></i>{{ button_filter }}</button>
                <button type="reset" class="btn btn-outline-secondary"><i class="fa-solid fa-rotate-left me-2"></i>{{ button_reset }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-122">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }}</div>
          <div id="zone" class="card-body">{{ list }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  ocFilter({
    formId: '#form-filter',
    listId: '#zone',
    route: 'localisation/zone',
    userToken: '{{ user_token }}'
  });

  ocAutocomplete({
    inputSelector: '#input-name',
    route: 'localisation/zone.autocomplete',
    userToken: '{{ user_token }}',
    valueKey: 'zone_id',
    labelKey: 'name',
    onSelect: function (item) {
      $('#input-name').val(decodeHTMLEntities(item.label));
    }
  });

  ocAutocomplete({
    inputSelector: '#input-country',
    route: 'localisation/country.autocomplete',
    userToken: '{{ user_token }}',
    valueKey: 'country_id',
    labelKey: 'name',
    onSelect: function (item) {
      $('#input-country').val(decodeHTMLEntities(item.label));
    }
  });

  $('#zone').on('click', 'thead a, .pagination a', function (e) {
    e.preventDefault();
    $('#zone').load(this.href);
  });
</script>
{{ footer }}
